Domain with underscore is not a valid domain. Unable to whitelist.

### Versions
<!-- Please run `pihole -v` and provide the following: -->
- Pi-hole:  v5.3.1
- AdminLTE:  v5.5
- FTL:  v5.8.1

### Platform
<!-- OS examples: Debian 10, Debian Buster, Ubuntu 18.04 -->
- OS and version:  DietPi v7.3.2
<!-- Platform examples: Raspberry Pi, Docker, Synology, VM/VPS -->
- Platform:  Raspbian/Debian Buster on Raspberry Pi 2

### Expected behavior

"Domain successfully added to the Whitelist"

### Actual behavior / bug

"Domain catapult_tv.surge.sh is not a valid domain.
Added 0 out of 1 domains"

Tried it on four different domains without any success, all with an underscore: special_sport.surge.sh catapult_tv.surge.sh tv_dansk.surge.sh usainternet_tv.surge.sh

### Steps to reproduce

Steps to reproduce the behavior:

1. Go to 'http://*/admin/queries.php'
2. Click on 'Whitelist'
3. Scroll down to '....'
4. Domain  catapult_tv.surge.sh is not a valid domain.
Added 0 out of 1 domains


## Debug Token

- URL:  

<!-- 
Token generated by running `pihole -d`. https://docs.pi-hole.net/core/pihole-command/#debugger

The token is displayed at the end of the debug process if you allow for uploading the log file. 

[✓] Your debug token is: https://tricorder.pi-hole.net/wim5hft4rq

Debug logs are visible ONLY to developers and support staff. They are not publically accessible and all logs are automatically deleted after 48 hours.
-->

### Screenshots

_If applicable, add screenshots to help explain your problem._

### Additional context

The domains belong to specific Stremio add-ons.


Thanks for the report. I'm able to confirm that here. The domains lead to 404 errors but none the less, looks like a bug.

` catapult_tv.surge.sh` seems to be the name of a script rather than an FQDN proper?

Note that while use of the underscore character is not a limitation by DNS itself, a plain hostname itself may not contain an underscore character.  
So certain DNS records may well contain an underscore (e.g. SRV records where an underscore appears at specific positions adhering to a `_service._proto.name` pattern), but an FQDN as used by an A or AAAA record would not be expected to contain an underscore.

I'd have to check and see what RFC is in play here but it does seem to be a name that resolves correctly:

```plain
dan@Viking-1:~$ nslookup catapult_tv.surge.sh
Server:         172.22.32.1
Address:        172.22.32.1#53

Non-authoritative answer:
Name:   catapult_tv.surge.sh
Address: 138.197.235.123
```

I guess RFC 2181 would be key here, specifically [RFC 2181 section 11](https://datatracker.ietf.org/doc/html/rfc2181#section-11)

While it does emphasise that DNS itself only imposes length limitations, it doesn't mention or do away with limitations imposed by other (non-DNS)  regulations like [RFC 1123](https://datatracker.ietf.org/doc/html/rfc1123#section-2) , but still contains a  warning about DNS client expectations.

You see me surprised that `catapult_tv.surge.sh` actually resolves.
While it may be in concordance with RFC 2181  for DNS records in general, it seems to violate RFC 1123 restrictions on hostnames.

The relevant code is

https://github.com/pi-hole/AdminLTE/blob/7e602e0df4c28e093afeedee27a205209f1f5104/scripts/pi-hole/php/groups.php#L613

According to https://www.php.net/manual/en/filter.filters.validate.php

`FILTER_FLAG_HOSTNAME` only allows alphanumerics and hyphens. 




Thanks @yubiuser. This means we need to implement a finer-grained method ourselves.

We could detect if it is a hostname or not (e.g. by checking if there is a `.` in the string) and add the `FILTER_FLAG_HOSTNAME` conditionally. What are your opinions on this idea?

Why not re-use

https://github.com/pi-hole/AdminLTE/blob/7e602e0df4c28e093afeedee27a205209f1f5104/scripts/pi-hole/php/func.php#L9

Is it a hostname or a DNS name that is to be checked?

As explained, an underscore may appear in DNS names (like SRV records), let me stress again the significance of `catapult_tv.surge.sh` violating RFC 1123 restrictions on hostnames where an underscore isn't a valid character.
Note that major CAs won't issue SSL certificates for FQDNs that contain underscores, see e.g. https://www.digicert.com/kb/ssl-support/underscores-not-allowed-in-fqdns.htm

I would thus assume that `surge.sh` is bending the rules by not preventing underscores in its subdomains.

With regards to the domains that triggered this issue, none of the specific `*.surge.sh` subdomains is contained in Pi-hole's default blocklist.
It would seem that a few blocklists contain the more general `surge.sh` (e.g. OISD and Energized Protection).
To address the immediate issue, one could also approach those blocklist maintainers and inquire about the reason for blocking all of `surge.sh`, which seems to be a generic service for hosting static websites - maybe a false positive?

> Is it a hostname or a DNS name that is to be checked?

I'm not sure I get the gist of the question, it can surely be both. You can whitelist (or block) a hostname as well as you can do it for a FQDN.

I'm trying to argue that a valid hostname -i.e. in compliance with RFC 1123- must not contain underscore characters.

A function that would check the validity of a hostname thus should return `invalid` if an underscore is encountered.

A function that would check whether a given string is valid for DNS in compliance with RFC 2181 should only return `invalid` if length limitations are violated (i.e. it wouldn't check any characters).

Users may black- or whitelisted anything they want in Pi-hole. It doesn't even have to be a valid domain at all (it will just never match anything in this case). The only sanity checks we might want to do is enforcing the length and maybe preventing some characters that may lead to exploits, possibly in third-party scripts (I'm thinking about space, semicolon, `'`, `"`, etc.).

I'm on both sides of the fence.

Yes, it may violate RFC, but then RFCs are not absolutes, they are guides, best practices, strong suggestions. They are violated all the time. What I'm more interested in is the actual practice of things. I can `dig` that domain and get a valid IP. That means others can do the same. So it's a 'real' domain in the sense that it lives on the internet. If it truly was a violation then the authoritative DNS server would have refused to allow it. But it didn't. 

So, the question then becomes do we stick to RFCs legalistically and say "Tell the domain owner to be compliant and that's as far as we go", or do we say "Yeah, it's against RFC but it's live and users will want to either block or allow it so we need to accommodate that so the users can use Pi-hole as they intend and need.". I'm of the second mindset. 

As for the lists that contain the domains, the reason we added whitelisting is to allow users to override lists that may be overzealous or not 100% in line with their intents. (Same for blacklisting). 

I appreciate the comments and I may have agreed in the past that if it violates RFC then it's not our problem. But that ends up putting the users experience as my experience and Pi-hole needs to be a tool for users to do what they need, not what I think they need.

Edit: I've added `sample_domain.pi-hole.net` to our setup with ClouDNS. It's valid according to them. 

```plain
dan@Viking-1:~$ dig soa sample_domain.pi-hole.net

; <<>> DiG 9.11.5-P4-5.1+deb10u5-Debian <<>> soa sample_domain.pi-hole.net
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 43701
;; flags: qr rd ra; QUERY: 1, ANSWER: 0, AUTHORITY: 1, ADDITIONAL: 1

;; QUESTION SECTION:
;sample_domain.pi-hole.net.     IN      SOA

;; AUTHORITY SECTION:
pi-hole.net.            3600    IN      SOA     ns1.pi-hole.net. dnsadmin.pi-hole.net. 2021072401 7200 1800 1209600 3600
```

Thinking about this more, I believe we've had this discussion before when people were trying to block/allow resource records that included underscores. Maybe someone can search for that in the core repo issues, I'll update if I can find it.

https://github.com/pi-hole/FTL/issues/759

https://github.com/pi-hole/pi-hole/issues/3399

Maybe more.

My comment on yubiuser's suggestion to reuse an existing function was geared towards the intention or use of that script.
If it's just validating black/whitelist entries, I'm ok with it - we can't ignore the reality of existing domain records, no matter if RFCs would label them invalid.
But for validating hostnames (e.g. when using Pi-hole's DHCP lease functionality), I'd support sticking to the RFCs as close as possible.

Fixed:
https://discourse.pi-hole.net/t/pi-hole-ftl-v5-9-web-v5-6-and-core-v5-4-released/49544/1